@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype"); }

@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/Roboto-Light.ttf) format("truetype"); }

/* line 27, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
* {
  margin: 0;
  padding: 0;
  font-family: OpenSans-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 34, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
html {
  width: 100%;
  height: 100%;
  color: white; }

/* line 39, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
body {
  width: 100%;
  height: 100%;
  color: white;
  background: #1565c0; }

/* line 46, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#intro {
  background: url(../images/poly.png); }

/* line 50, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#about {
  background: #1a237e; }

/* line 54, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#work {
  background: #1565c0; }

/* line 58, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#portfolio {
  background: #0d47a1; }

/* line 62, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#contact {
  background: #1a237e; }

/* line 66, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#header {
  height: 64px;
  width: 100%;
  position: fixed;
  color: white;
  background-color: rgba(0, 30, 80, 0.48);
  z-index: 99; }
  /* line 73, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #header > nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right; }
    /* line 76, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
    #header > nav h4 {
      color: white;
      line-height: 64px;
      margin-right: 16px;
      text-decoration: none;
      display: inline-block;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      transition: all 1s;
      font-family: OpenSans-Light, sans-serif; }
      /* line 84, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
      #header > nav h4:hover {
        color: #4fc3f7; }
      /* line 87, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
      #header > nav h4 img {
        height: 24px;
        vertical-align: middle;
        margin-right: 4px; }

/* line 95, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#logo {
  line-height: 64px;
  height: 100%;
  float: left;
  margin-left: 18px; }
  /* line 101, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #logo img {
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  /* line 106, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #logo h2 {
    vertical-align: middle;
    display: inline-block;
    color: white;
    text-decoration: none; }

/* line 113, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#mobile_nav_toggle {
  display: none;
  margin: 3px; }

/* line 117, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#mobile_nav {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.68);
  color: white;
  text-align: center;
  display: none; }
  /* line 131, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #mobile_nav h1 {
    color: white;
    line-height: 64px;
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s; }
    /* line 136, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
    #mobile_nav h1:hover {
      color: #4fc3f7; }
  /* line 140, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #mobile_nav > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2); }

/* line 148, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.section_wrapper {
  text-align: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; }

/* line 156, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.section_content {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  z-index: 1; }
  /* line 162, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .section_content table {
    table-layout: fixed;
    width: 100%; }
    /* line 165, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
    .section_content table table {
      width: 100%; }
    /* line 168, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
    .section_content table td {
      padding: 16px;
      vertical-align: top;
      max-width: 90% !important; }

/* line 175, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.section_header {
  font-size: 4em; }

/* line 178, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.section_subheader {
  font-size: 3em; }

/* line 182, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.mtrl-card {
  background: white;
  border-radius: 2px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.54);
  display: inline-block;
  vertical-align: top; }

/* line 190, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.mtrl-card-fill {
  width: 100%; }

/* line 194, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.mtrl-card-header.blue {
  padding: 8px;
  background: url(../images/poly.png); }

/* line 199, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.mtrl-card-content {
  padding: 24px;
  color: rgba(0, 0, 0, 0.54); }

/* line 204, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.mtrl-card-actions {
  padding: 0 16px 16px 16px; }

/* line 208, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.mtrl-button {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  background-color: #1a237e;
  cursor: pointer;
  margin: 4px;
  padding: 12px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  font-size: .8em;
  min-width: 72px;
  text-align: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.54);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  /* line 224, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .mtrl-button:hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.72); }

/* line 230, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#me {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.54); }

/* line 236, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#portfolio_arrow {
  width: 10%;
  cursor: pointer; }

/* line 241, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
#portfolio_controls_container {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%; }

/* line 248, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.portfolio_controls {
  width: 10%;
  left: 0;
  top: 30%;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }
  /* line 255, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .portfolio_controls:hover {
    filter: brightness(80%); }

/* line 260, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.portfolio_controls.portfolio_next {
  right: 0;
  left: auto; }

/* line 265, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.get_on_app_store img {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }

/* line 271, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.screenshot, .screenshot_wide {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto; }

/* line 277, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.screenshot_wide {
  max-width: 90%; }

/* line 282, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.team_profile_pic {
  margin: 12px 0 12px 0;
  border-radius: 50%;
  width: 40%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.54); }

/* line 290, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.profile_links img {
  width: 10%; }

/* line 295, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.contact_link {
  max-width: 100% !important; }
  /* line 297, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .contact_link h1 {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    word-wrap: break-word;
    white-space: normal; }
    /* line 301, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
    .contact_link h1:hover {
      color: #4fc3f7 !important; }

@media only screen and (max-width: 1218px) {
  /* line 308, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .section_content {
    width: 80%; } }

@media only screen and (max-width: 768px) {
  /* line 316, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .section_content table td {
    display: inline-block; }
  /* line 321, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #portfolio_arrow {
    width: 20%; } }

@media only screen and (max-width: 680px), screen and (max-device-width: 700px) {
  /* line 327, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .hide_on_mobile {
    display: none !important; }
  /* line 330, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #mobile_nav_toggle {
    display: block;
    float: right; }
    /* line 333, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
    #mobile_nav_toggle button:focus {
      outline: none !important; }
  /* line 337, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #mobile_nav {
    display: block; }
  /* line 340, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .section_wrapper {
    padding-top: 96px;
    padding-bottom: 24px; }
  /* line 344, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .section_content {
    padding: 0;
    width: 90%; }
  /* line 348, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #header > nav {
    display: none; }
  /* line 353, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .section_content table td {
    display: inline-block; }
  /* line 359, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .profile_links img {
    width: 20%; } }

@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {
  /* line 368, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #logo img {
    height: 70%; }
  /* line 371, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  #logo h1 {
    font-size: 1.5em; } }

/* line 377, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.hamburgler-active #mobile_nav {
  opacity: 1;
  pointer-events: initial; }

/* line 381, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
.hamburger .hamburger-inner {
  background-color: white !important; }
  /* line 383, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .hamburger .hamburger-inner:after {
    background-color: white !important; }
  /* line 386, C:/Users/Andrew/Documents/andrewbrooke.github.io/css/styles.scss */
  .hamburger .hamburger-inner:before {
    background-color: white !important; }

/*# sourceMappingURL=styles.css.map */