@import 'bourbon/bourbon';
$white: rgba(255, 255, 255, 1);
$color-primary: #0d47a1;
$color-accent: #2196f3;
$color-mobile-nav-bg: rgba(0, 0, 0, .72);
$opensans-regular: OpenSans-Regular;
$opensans-light: OpenSans-Light;
$url-poly: url(-'../images/poly.png');

@font-face {
    font-family: $opensans-regular;
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: $opensans-light;
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, $white, 50%)) {
    // For Google Chrome
    ::-webkit-scrollbar {
        height: $size;
        width: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
    }
}

* {
    font-family: $opensans-regular, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

html {
    @include scrollbars(.5em, rgba(33, 33, 33, 1));
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#mobile-nav-toggle {
    display: none;
    margin: 3px;
}

#mobile-nav {
    @include transition(all .4s ease);
    background-color: $color-mobile-nav-bg;
    bottom: 0;
    color: $white;
    display: none;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 99;

    h1 {
        @include transition(all 1s);
        color: $white;
        line-height: 64px;
        text-decoration: none;

        &:hover {
            color: $color-accent;
        }
    }

    > div {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) scale(1.2);
    }
}

#header {
    background: $white;
    box-shadow: 0 0 3px rgba(0, 0, 0, .12), 0 0 2px rgba(0, 0, 0, .24);
    height: 48px;
    letter-spacing: 1px;
    position: fixed;
    width: 100%;
    z-index: 99;

    #logo {
        float: left;
        height: 100%;
        line-height: 48px;
        margin-left: 12px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #606c76;
            display: inline-block;
            line-height: 48px;
            margin: 0;
            text-decoration: none;
        }
    }

    > nav {
        float: right;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @include transition(all 1s);
            color: #606c76;
            display: inline-block;
            font-family: $opensans-regular;
            line-height: 48px;
            margin-right: 16px;
            text-decoration: none;

            &.active,
            &:hover {
                color: $color-accent;
            }

            img {
                height: 24px;
                margin-right: 4px;
                vertical-align: middle;
            }
        }
    }
}

.content {
    align-items: center;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 72px;
    padding-top: 72px;
    position: relative;
    width: 100%;

    &#parallax {
        background: url('../images/poly.png');
        background-size: cover;
        position: fixed;
        z-index: -1;
    }

    &:nth-of-type(1) {
        background: rgba(0, 0, 0, 0);
    }

    &#intro {
        color: $white;

        h1,
        h2 {
            margin: 0;
        }
    }
}

.card {
    background: $color-primary;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    color: $white !important;
    cursor: pointer;
    display: inline-block;
    min-height: 300px;
    padding: 16px;
    position: relative;
    text-decoration: none;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    width: 100%;

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    }

    .card-footer {
        bottom: 12px;
        position: absolute;
    }
}

.tag {
    background-color: $color-accent;
    border-radius: 12px;
    color: $white;
    display: inline-block;
    font-size: .75em;
    padding: 2px 6px;
}

#card-firestream {
    background: linear-gradient(to right, #ff5722 , #e64a19);
}

#card-life {
    background: url('../images/life.png');
    background-size: cover;
}

#card-github-lang-getter {
    background: url('../images/github-lang-getter.png');
    background-size: cover;
}

#card-trayak {
    background: #0f6ab3;
}

#card-syntonic {
    background: url('../images/syntonic.png');
    background-size: cover;
}

#card-kv {
    background: #005689;
}

.profile-links {
    text-align: center;

    img {
        margin-right: 16px;
        transition: transform 1s ease-in-out;

        &:hover {
            transform: rotate(360deg);
        }
    }
}

.chart-wrapper {
    height: 250px;
    width: 100%;
}

#chart-header {
    display: none;
    width: 100%;
}

.center {
    text-align: center;
}

.no-mobile {
    display: none;
}

@media (min-width: 40.0rem) {
    .no-mobile {
        display: inherit;
    }

    .on-mobile {
        display: none;
    }

    .card {
        border-radius: 0;

        &:first-of-type {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        &:last-of-type {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }
    }
}
