body {
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #212121;
}

h5 {
	line-height: 1.2 !important;
}

#dashboard_header {
	min-height: 150px;
	text-align: center;
	background: url('images/poly.png') center / cover;
}
#dashboard_icon {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 50px;
}
.mdl-layout__drawer {
	border-right: 0px !important;
}
.mdl-layout__drawer-button {
	color: white;
	background-color: rgba(0, 0, 0, .54);
}
.mdl-layout__drawer-button i {
	top: 25%;
	left: 25%;
	position: absolute;
}
.mdl-card__menu button {
	color: white !important;
}
.mdl-layout__drawer .mdl-navigation {
	padding-top: 0px !important;
}
.mdl-navigation__link {
	color: white !important;
	transition: .5s all;
	border-left: 0px solid rgba(13, 71, 161, 0);
}
.mdl-navigation__link:hover {
	background-color: rgba(66, 66, 66, .84) !important;
	cursor: pointer;
	border-left: 24px solid rgba(13, 71, 161, 0);
}

.mdl-navigation__link.active {
	background-color: rgba(30, 136, 229, 1) !important;
	border-left: 8px solid rgba(13, 71, 161, 1);
}
.mdl-navigation__link.active:hover {
	border-left: 24px solid rgba(13, 71, 161, 1);
}
.section_wrapper {
    text-align: center;
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
	padding-bottom: 100px;
}
.section_wrapper:not(:nth-of-type(1)) {
	padding-top: 100px;
}

#about > .section_content {
	width: 50% !important;
}

.section_content {
    margin-left: auto;
    margin-right: auto;
	width: 80% !important;
    padding: 48px;
	border-top: 8px solid rgba(25, 118, 210, 1);
}
.links a:not(:last-child) {
    margin-right: 10px;
}
.section_content table {
    margin: 0 auto;
    width: 80%;
}
.section_content table td {
    width: 50%;
}
.section_content table td:first-child {
	padding-right: 10px;
}
.section_content table td:last-child {
	padding-left: 10px;
}
.section_content table td br {
    clear: both;
}
td {
	vertical-align: top;
}
td h2 {
	padding-top: 10px;
}
td p,
td span {
    float: left;
    margin: 0;
	text-align: justify;
}
td span {
    margin-left: 2em;
}
td.center p {
    float: none;
}
.divider {
    display: block;
    height: 1px;
    width: 100%;
    background: #B6B6B6;
}
.screenshot {
    max-width: 90%;
    max-height: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.screenshot:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.screenshot.mobile {
    max-width: 30%;
}
.gif {
    transform: rotateX(0);
}

@media only screen and (max-width: 768px) {
    td {
		display: inline-block;
		width: 100% !important;
	}
	.section_wrapper {
		padding-top: 24px !important;
		padding-bottom: 24px !important;
	}
	.section_content table {
		margin: 0 auto;
		width: 98%;
	}
	.section_content {
		padding: 8px;
		width: 98%;
	}
	.section_content table td:first-child {
		padding-right: 0;
	}
	.section_content table td:last-child {
		padding-left: 0;
	}
    .screenshot.mobile {
      max-width: 90%;
    }
}